<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Predictor</title>
</head>
<body>
    <h1>Draw a Digit</h1>

    <!-- Defiing a Canvas, clear and predict buttons and a space for printing predicted digit (i.e. result) -->
    <canvas id="canvas" width="280" height="280"></canvas>
    <button id="clear">Clear</button>
    <button id="predict">Predict</button>
    <p id="result"></p>

    <script>

        // Defining a functionality for Canvas element defined above
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        // Fill the canvas with white before drawing
        ctx.fillStyle = 'black';
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        let isDrawing = false;

        canvas.addEventListener('mousedown', () => isDrawing = true);
        canvas.addEventListener('mouseup', () => isDrawing = false);
        canvas.addEventListener('mousemove', draw);

        function draw(event) {
            if (!isDrawing) return;
            ctx.fillStyle = 'white';
            ctx.beginPath();
            ctx.arc(event.offsetX, event.offsetY, 8, 0, Math.PI * 2);
            ctx.fill();
        }

        // Defininng the functionality for the Clear button
        document.getElementById("clear").addEventListener("click", () =>{
            ctx.clearRect(0, 0, canvas.width, canvas.height)
            document.getElementById('result').innerText = ""
        })

        // Defininng the functionality for the Predict button
        document.getElementById("predict").addEventListener("click", () =>{
            const dataUrl = canvas.toDataURL("image/png") // if the image is too big, blob can be used to send the image as binary data
            const response = fetch("/predict", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ "image": dataUrl })
            })
            // document.getElementById('result').innerText = `Predicted Digit: 3`
        })
        
    </script>
    
</body>
</html>